# Python cache and temporary files
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
eggs/
.eggs/
*.egg-info/
*.egg

# Jupyter Notebook checkpoints
.ipynb_checkpoints

# Environment
.env/
.venv/
env/
venv/
.venv310/
uv.lock

# Project folders
#notebooks/
data/external/
results/
logs/
scripts/slurm/
cache/
local/
